*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
}
.login-left {
    width: 50%;
    background-color:rgb(29,45,91);
    height: 100vh;
    align-items: center;
}
.login-left img{
    text-align: center;
    padding-top: 160px;
    padding-left: 90px;
    width: 85%;
    vertical-align: middle;
    overflow-clip-margin: content-box;
    overflow: clip;
    border: 0;
}

form{
    display: block;
    margin-top: 0em;
}
.login-right{
    padding-top: 170px;
    margin-bottom: 7px;
    color: #333;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
    width: 330px;
    text-align: center;
    margin-top: 100px;
    margin: 0 auto;
}
.login-right p{
    margin-bottom: 7px;
    color: #333;
    font-weight: 600;
    font-size: 10px;
    line-height: 1.3;
}
.login-right h3{
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: inherit;
}
input[type="hidden" i] {
    appearance: none;
    background-color: initial;
    cursor: default;
    display: none !important;
    padding: initial;
    border: initial;
}
input {
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: field;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
.login__item-content {
    width: 330px;
    text-align: center;
    margin-top: -100px;
}
.login__item-content {
    width: 330px;
    text-align: center;
    margin-top: -100px;
}
.text-left {
    text-align: left;
}
.login__label {
    font-weight: 500;
    font-size: 12px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
label {
    cursor: default;
}
.login__input {
    padding: 10px 12px;
}
.form-control {
    box-shadow: none!important;
    border-color: #C1C7CD;
    color: #646464;
    border-radius: 4px;
    padding: 8px 12px;
    height: auto;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-primary {
    border-color: rgb(29,45,91)!important;
    background-color: rgb(29,45,91)!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-primary {
    border-color: rgb(29,45,91)!important;
    background-color: rgb(29,45,91)!important;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn {
    border-radius: 4px;
    padding: 7px 13px;
    box-shadow: none!important;
}
.full-width {
    width: 100%!important;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}